# Análise exploratória dos dados

## Importando as bibliotecas

In [4007]:
import pandas as pd
import numpy as np
import ast

## Caminho para o dataset

In [4008]:
path_csv = '../data/raw/movies_dataset.csv'

## Lendo o dataset

In [4009]:
df = pd.read_csv(path_csv, sep=',')
df

,id,title,original_title,original_language,overview,tagline,budget,revenue,runtime,release_date,genres,popularity,vote_average,vote_count
0,411405,Small Crimes,Small Crimes,en,"A disgraced former cop, fresh off a six-year p...",NaN,0.0,0.0,95.0,2017-04-28,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",7.219022,5.8,55.0
1,42492,Up the Sandbox,Up the Sandbox,en,"A young wife and mother, bored with day-to-day...",NaN,0.0,0.0,97.0,1972-12-21,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",0.138450,7.3,2.0
2,12143,Bad Lieutenant,Bad Lieutenant,en,"While investigating a young nun's rape, a corr...",Gambler. Thief. Junkie. Killer. Cop.,1000000.0,2019469.0,96.0,1992-09-16,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",6.417037,6.9,162.0
3,9976,Satan's Little Helper,Satan's Little Helper,en,A naïve young boy unknowingly becomes the pawn...,You'll laugh 'til you die,0.0,0.0,100.0,2004-01-01,"[{'id': 27, 'name': 'Horror'}, {'id': 10749, '...",2.233189,5.0,42.0
4,46761,Sitcom,Sitcom,fr,The adventures of an upper-class suburban fami...,NaN,0.0,0.0,80.0,1998-05-27,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1.800582,6.4,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4997,9803,Seven Dwarfs,7 Zwerge - Männer allein im Wald,de,The Seven Dwarves live deep within a female-fr...,NaN,0.0,0.0,95.0,2004-10-28,"[{'id': 35, 'name': 'Comedy'}]",4.582736,5.2,70.0
4998,336970,True Siblings,Syskonsalt,sv,"The siblings Linus, 19-years-old, who are taki...",NaN,0.0,0.0,58.0,2000-09-13,"[{'id': 18, 'name': 'Drama'}, {'id': 10770, 'n...",2.364355,8.0,2.0
4999,336691,Paternity Leave,Paternity Leave,en,"Four years into his first stable relationship,...",NaN,0.0,0.0,90.0,2015-11-24,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",0.448056,7.0,4.0
5000,37598,Butch and Sundance: The Early Days,Butch and Sundance: The Early Days,en,"A ""prequel"" of sorts to ""Butch Cassidy and the...",Before the fame when fun was the name of the g...,0.0,0.0,115.0,1979-06-15,"[{'id': 37, 'name': 'Western'}]",0.627647,4.6,8.0
5001,65766,Bon appétit,Bon appétit,en,A romantic comedy centered on two young cooks ...,NaN,0.0,0.0,91.0,2010-11-12,"[{'id': 10749, 'name': 'Romance'}]",0.965179,5.3,8.0

In [4010]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5002 entries, 0 to 5001
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5002 non-null   int64
 1   title              5001 non-null   object
 2   original_title     5002 non-null   object
 3   original_language  5001 non-null   object
 4   overview           4904 non-null   object
 5   tagline            2246 non-null   object
 6   budget             4802 non-null   float64
 7   revenue            4851 non-null   float64
 8   runtime            4875 non-null   object
 9   release_date       4888 non-null   object
 10  genres             5002 non-null   object
 11  popularity         5001 non-null   float64
 12  vote_average       5001 non-null   float64
 13  vote_count         5001 non-null   float64
dtypes: float64(5), int64(1), object(8)
memory usage: 547.2+ KB

## Tratando dados duplicados

Removeremos os dados duplicados.

In [4011]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4997    False
4998    False
4999    False
5000     True
5001     True
Length: 5002, dtype: bool

In [4012]:
df.duplicated().sum()

2

In [4013]:
df.drop_duplicates(inplace=True)

In [4014]:
df.duplicated().sum()

0

In [4015]:
df_sem_duplicado = df.copy()

## Tratando dados ausentes

Para tratar valores ausentes, vamos primeiramente mudar os registros da coluna `genres` para listas de dicionários e tranforma-los em lista com os gêneros.

In [4016]:
df_sem_duplicado['genres'] = df_sem_duplicado['genres'].apply(ast.literal_eval)
df_sem_duplicado['genres'] = df_sem_duplicado['genres'].apply(lambda lista: [row['name'] for row in lista])

In [4017]:
df_sem_duplicado

,id,title,original_title,original_language,overview,tagline,budget,revenue,runtime,release_date,genres,popularity,vote_average,vote_count
0,411405,Small Crimes,Small Crimes,en,"A disgraced former cop, fresh off a six-year p...",NaN,0.0,0.0,95.0,2017-04-28,"[Drama, Comedy, Thriller, Crime]",7.219022,5.8,55.0
1,42492,Up the Sandbox,Up the Sandbox,en,"A young wife and mother, bored with day-to-day...",NaN,0.0,0.0,97.0,1972-12-21,"[Drama, Comedy]",0.138450,7.3,2.0
2,12143,Bad Lieutenant,Bad Lieutenant,en,"While investigating a young nun's rape, a corr...",Gambler. Thief. Junkie. Killer. Cop.,1000000.0,2019469.0,96.0,1992-09-16,"[Crime, Drama]",6.417037,6.9,162.0
3,9976,Satan's Little Helper,Satan's Little Helper,en,A naïve young boy unknowingly becomes the pawn...,You'll laugh 'til you die,0.0,0.0,100.0,2004-01-01,"[Horror, Romance, Comedy]",2.233189,5.0,42.0
4,46761,Sitcom,Sitcom,fr,The adventures of an upper-class suburban fami...,NaN,0.0,0.0,80.0,1998-05-27,"[Comedy, Drama, Thriller]",1.800582,6.4,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,3093,Basic Instinct 2,Basic Instinct 2,en,Novelist Catherine Tramell is once again in tr...,Everything interesting begins in the mind,70000000.0,38629478.0,114.0,2006-03-29,"[Crime, Mystery, Thriller]",15.321902,4.6,183.0
4996,246127,Every Thing Will Be Fine,Every Thing Will Be Fine,en,"One day, driving aimlessly around the outskirt...",A moment. A tragic accident. And nothing will ...,0.0,8034.0,118.0,2015-04-02,[Drama],5.723103,5.3,79.0
4997,9803,Seven Dwarfs,7 Zwerge - Männer allein im Wald,de,The Seven Dwarves live deep within a female-fr...,NaN,0.0,0.0,95.0,2004-10-28,[Comedy],4.582736,5.2,70.0
4998,336970,True Siblings,Syskonsalt,sv,"The siblings Linus, 19-years-old, who are taki...",NaN,0.0,0.0,58.0,2000-09-13,"[Drama, TV Movie]",2.364355,8.0,2.0
4999,336691,Paternity Leave,Paternity Leave,en,"Four years into his first stable relationship,...",NaN,0.0,0.0,90.0,2015-11-24,"[Comedy, Romance]",0.448056,7.0,4.0

In [4018]:
df_sem_duplicado.isna().sum()

id                      0
title                   1
original_title          0
original_language       1
overview               98
tagline              2755
budget                200
revenue               151
runtime               127
release_date          114
genres                  0
popularity              1
vote_average            1
vote_count              1
dtype: int64

Percebemos que a coluna `Tagline` contém mais de 50% dos registros como valores ausentes (`NaN`). Como essa coluna apenas informa uma frase promocional que é única para cada filme, ela não tem correlação com outras colunas e, já que, mais de 50% dos valores são `NaN`s, vamos retira-la do dataframe.

In [4019]:
df_sem_duplicado.drop(columns=['tagline'], inplace=True)

In [4020]:
df_sem_duplicado.columns

Index(['id', 'title', 'original_title', 'original_language', 'overview',
       'budget', 'revenue', 'runtime', 'release_date', 'genres', 'popularity',
       'vote_average', 'vote_count'],
      dtype='object')

Nas colunas `budget` e `revenue`, notamos que pelas insformações do dataframe a maior parte dos dados são iguais a `0.0` o que indica que os valores que são diferentes de `0.0` podem ser possíveis `outliers`. Logo, para essas colunas, iremos transformar os valores `NaN` em `0.0`.

Para a coluna `revenue`, temos:

In [4021]:
media_nan_revenue = df_sem_duplicado['revenue'].isna().mean()
media_nan_revenue

0.0302

In [4022]:
media_zero_revenue = (df_sem_duplicado['revenue'] == 0.0).mean()
media_zero_revenue

0.8102

In [4023]:
df_sem_duplicado['revenue'] = df_sem_duplicado['revenue'].replace(np.nan, 0.0)

In [4024]:
df_sem_duplicado['revenue'].isna().median()

0.0

Para a coluna `budget` percebemos que ela está com o tipo `object` nas informações do dataframe. Então, primeiramente faremos a mudança de tipo para `float`.

A mudança direta para `float` gera um erro por causa da palavra `unknown` em alguns registros nessa coluna. Então substituiremos esse valor por `NaN` e após isso faremos a mudança de tipo para `float`.

In [4025]:
df_sem_duplicado['budget'] = df_sem_duplicado['budget'].replace('unknown', np.nan)

Mundando para `float`.

In [4026]:
df_sem_duplicado['budget'] = df_sem_duplicado['budget'].astype(float)

Preenchendo os `NaN`s de `budget` com `0.0`.

In [4027]:
media_nan_budget = df_sem_duplicado['budget'].isna().mean()
media_nan_budget

0.04

In [4028]:
media_zero_budget = (df_sem_duplicado['budget'] == 0.0).mean()
media_zero_budget

0.78

In [4029]:
df_sem_duplicado['budget'] = df_sem_duplicado['budget'].replace(np.nan, 0.0)

In [4030]:
df_sem_duplicado['budget'].isna().mean()

0.0

In [4031]:
df_sem_duplicado.describe()

,id,budget,revenue,popularity,vote_average,vote_count
count,5000.000000,5.000000e+03,5.000000e+03,4999.000000,4999.000000,4999.000000
mean,109181.451800,2.369611e+07,9.689476e+06,2.935910,5.607121,106.282456
std,112394.383204,1.414249e+09,5.402569e+07,8.936916,1.963014,460.439773
min,13.000000,0.000000e+00,-5.000000e+04,0.000000,0.000000,0.000000
25%,27305.500000,0.000000e+00,0.000000e+00,0.375972,5.000000,3.000000
50%,60463.000000,0.000000e+00,0.000000e+00,1.097132,6.000000,10.000000
75%,156980.000000,0.000000e+00,0.000000e+00,3.580478,6.800000,34.000000
max,464207.000000,1.000000e+11,1.156731e+09,547.488298,10.000000,8670.000000

Para a coluna `runtime` subdtituiremos os `NaN`s pela a `madiana`, pois ela performa melhor com `outliers`.

In [4032]:
df_sem_duplicado['runtime'].isna().sum()

127

Ao transformarmos o tipo de `runtime` para `float` encontramos o problema de que existem registros com `min` de minutos após o número. Então, retiraremos o `min` primeiro antes de mudar para `float`.

In [4033]:
df_sem_duplicado['runtime'] = df_sem_duplicado['runtime'].str.replace('min', '', regex=False).str.strip()

In [4034]:
df_sem_duplicado['runtime'] = df_sem_duplicado['runtime'].astype(float)

Agora substituiremos os valores `NaN` pela `mediana`,

In [4035]:
mediana_runtime = df_sem_duplicado['runtime'].median()
df_sem_duplicado['runtime'] = df_sem_duplicado['runtime'].replace(np.nan, mediana_runtime)

In [4036]:
df_sem_duplicado['runtime'].isna().sum()

0

Para as colunas `popularity`, `vote_average` e `vote_count`, substuiremos pela `média`, `média` e `mediana` respectivamente, já que, `popularity` e `vote_average` tem desvio padrão baixo (há indícios de poucos `outliers`). Já `vote_count` possui desvio padrão alto, ou seja, há indícios de mais `outliers` nessa coluna e então a `mediana` tem um melhor comportamento.

In [4037]:
media_popularity = df_sem_duplicado['popularity'].mean()
media_vote_average = df_sem_duplicado['vote_average'].mean()
mediana_vote_count = df_sem_duplicado['vote_count'].median()

In [4038]:
df_sem_duplicado['popularity'] = df_sem_duplicado['popularity'].replace(np.nan, media_popularity)
df_sem_duplicado['vote_average'] = df_sem_duplicado['vote_average'].replace(np.nan, media_vote_average)
df_sem_duplicado['vote_count'] = df_sem_duplicado['vote_count'].replace(np.nan, mediana_vote_count)

In [4039]:
df_sem_duplicado.isna().sum()

id                     0
title                  1
original_title         0
original_language      1
overview              98
budget                 0
revenue                0
runtime                0
release_date         114
genres                 0
popularity             0
vote_average           0
vote_count             0
dtype: int64

Analisando o valor ausente da coluna `title` vemos que também existem valores ausentes em `release_date` e `release_year` e pela `overview` do filme conseguimos saber qual é o filme e preencher essas colunas.

In [4040]:
df_sem_duplicado[df_sem_duplicado['title'].isna()]

,id,title,original_title,original_language,overview,budget,revenue,runtime,release_date,genres,popularity,vote_average,vote_count
2474,122662,NaN,マルドゥック・スクランブル 排気,ja,Third film of the Mardock Scramble series.,0.0,0.0,94.0,NaN,"[Animation, Science Fiction]",2.93591,5.607121,10.0

In [4041]:
df_sem_duplicado['title'] = df_sem_duplicado['title'].astype(str)

In [4042]:
df_sem_duplicado.loc[2474, 'title'] = 'Mardock Scramble: The Third Exhaust'

Agora vamos transforma a coluna `release_date` em `datetime` para inserir a data de lançamento do filme.

In [4043]:
df_sem_duplicado['release_date'] = pd.to_datetime(df_sem_duplicado['release_date'], errors='coerce')

In [4044]:
df_sem_duplicado.loc[2474, 'release_date'] = pd.to_datetime('2012-09-29')

Inserimos todos os valores ausentes desse registro.

In [4045]:
df_sem_duplicado.loc[2474]

id                                                       122662
title                       Mardock Scramble: The Third Exhaust
original_title                                 マルドゥック・スクランブル 排気
original_language                                            ja
overview             Third film of the Mardock Scramble series.
budget                                                      0.0
revenue                                                     0.0
runtime                                                    94.0
release_date                                2012-09-29 00:00:00
genres                             [Animation, Science Fiction]
popularity                                              2.93591
vote_average                                           5.607121
vote_count                                                 10.0
Name: 2474, dtype: object

Agora para a coluna `original_language` temos uma única coluna `NaN` que também conseguimos preenchela.

In [4046]:
df_sem_duplicado[df_sem_duplicado['original_language'].isna()]

,id,title,original_title,original_language,overview,budget,revenue,runtime,release_date,genres,popularity,vote_average,vote_count
4946,381096,Yarn,Garn,NaN,The traditional crafts of crochet and knitting...,0.0,0.0,76.0,2016-03-12,"[Animation, Documentary]",0.067624,0.0,0.0

In [4047]:
df_sem_duplicado['original_language'].unique()

array(['en', 'fr', 'nl', 'it', 'ko', 'hi', 'ja', 'cs', 'cn', 'tr', 'sv',
       'de', 'ta', 'English', 'ingles', 'EN', 'zh', 'is', 'hr', 'el',
       'pt', 'ml', 'ar', 'ru', 'sr', 'fi', 'th', 'fa', 'ur', 'da', 'es',
       'iu', 'pl', 'hu', 'lv', 'mk', 'et', 'vi', 'ro', 'tl', 'no', 'mn',
       'he', 'bg', 'uk', 'xx', 'pa', 'mr', 'ca', 'id', 'nb', 'uz', 'sk',
       'sl', 'sq', 'te', 'ka', 'ay', 'ps', 'ms', 'bn', nan], dtype=object)

In [4048]:
df_sem_duplicado['original_language'] = df_sem_duplicado['original_language'].replace(['English', 'ingles', 'EN'], 'en')

In [4049]:
df_sem_duplicado['original_language'].unique()

array(['en', 'fr', 'nl', 'it', 'ko', 'hi', 'ja', 'cs', 'cn', 'tr', 'sv',
       'de', 'ta', 'zh', 'is', 'hr', 'el', 'pt', 'ml', 'ar', 'ru', 'sr',
       'fi', 'th', 'fa', 'ur', 'da', 'es', 'iu', 'pl', 'hu', 'lv', 'mk',
       'et', 'vi', 'ro', 'tl', 'no', 'mn', 'he', 'bg', 'uk', 'xx', 'pa',
       'mr', 'ca', 'id', 'nb', 'uz', 'sk', 'sl', 'sq', 'te', 'ka', 'ay',
       'ps', 'ms', 'bn', nan], dtype=object)

Preenchendo o idioma faltante em `original_language`.

In [4050]:
df_sem_duplicado.loc[4946, 'original_language'] = 'en'

In [4051]:
df_sem_duplicado.loc[4946]

id                                                              381096
title                                                             Yarn
original_title                                                    Garn
original_language                                                   en
overview             The traditional crafts of crochet and knitting...
budget                                                             0.0
revenue                                                            0.0
runtime                                                           76.0
release_date                                       2016-03-12 00:00:00
genres                                        [Animation, Documentary]
popularity                                                    0.067624
vote_average                                                       0.0
vote_count                                                         0.0
Name: 4946, dtype: object

Para as colunas `overview`, `release_date` não conseguimos inferir seus valores e por enquanto não alteraremos em nada nessas colunas.

In [4052]:
df_sem_duplicado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5000 non-null   int64
 1   title              5000 non-null   object
 2   original_title     5000 non-null   object
 3   original_language  5000 non-null   object
 4   overview           4902 non-null   object
 5   budget             5000 non-null   float64
 6   revenue            5000 non-null   float64
 7   runtime            5000 non-null   float64
 8   release_date       4886 non-null   datetime64[ns]
 9   genres             5000 non-null   object
 10  popularity         5000 non-null   float64
 11  vote_average       5000 non-null   float64
 12  vote_count         5000 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(5)
memory usage: 675.9+ KB

In [4053]:
df_limpo = df_sem_duplicado.copy()

In [4054]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5000 non-null   int64
 1   title              5000 non-null   object
 2   original_title     5000 non-null   object
 3   original_language  5000 non-null   object
 4   overview           4902 non-null   object
 5   budget             5000 non-null   float64
 6   revenue            5000 non-null   float64
 7   runtime            5000 non-null   float64
 8   release_date       4886 non-null   datetime64[ns]
 9   genres             5000 non-null   object
 10  popularity         5000 non-null   float64
 11  vote_average       5000 non-null   float64
 12  vote_count         5000 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(5)
memory usage: 675.9+ KB

## Salvando o dataset

In [4055]:
df_limpo.to_csv('../data/processed/filmes_limpos.csv', index=False)